#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mopidy"
name = "Mopidy"
description.en = "Play music, podcasts and radio programs from local disk and various streaming services"
description.fr = "Écouter de la musique, des podcasts et des programmes radio depuis le disque local et divers services de streaming"

version = "3.4.2~ynh4"

maintainers = ["siwinter"]

[upstream]
license = "Apache-2.0"
website = "https://www.mopidy.com"
admindoc = "https://docs.mopidy.com/en/latest"
code = "https://github.com/mopidy/mopidy"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mopidy"

    [install.init_main_permission]
    help.en = "Public app can be used by anonymous visitors."
    help.fr = "L'application publique peut être utilisée par des visiteurs anonymes."
    type = "group"
    default = false

    [install.mpd_ext]
    ask.en = "Activate MPD extension (this will open port 6600)"
    ask.fr = "Activer l'extension MPD (cela ouvrira le port 6600)"
    type = "boolean"
    default = false

[resources]
    [resources.sources.main]
    url = "http://none"
    sha256 = "none"
    prefetch = false
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["data", "cache"]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 6680
    mpd.default = 6600

    [resources.apt]
    packages = [
        "acl",
        "build-essential",
        "debconf",
        "gir1.2-gst-plugins-base-1.0",
        "gir1.2-gstreamer-1.0",
        "git",
        "gstreamer1.0-alsa",
        "gstreamer1.0-plugins-good",
        "gstreamer1.0-plugins-ugly",
        "gstreamer1.0-pulseaudio",
        "gstreamer1.0-tools",
        "libcairo2-dev",
        "libgirepository1.0-dev",
        "lsb-base",
        "postgresql-contrib",
        "postgresql",
        "python3-dev",
        "python3-gst-1.0",
        "python3-pip",
        "python3-pkg-resources",
        "python3-pykka",
        "python3-requests",
        "python3-tornado",
        "python3-venv",
    ]
