[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network.target
After=nss-lookup.target
After=pulseaudio.service
After=remote-fs.target
After=sound.target

[Service]
User=__APP__
PermissionsStartOnly=true
ExecStart=__INSTALL_DIR__/venv/bin/__APP__ --config __INSTALL_DIR__/__APP__.conf

[Install]
WantedBy=multi-user.target
